// Site Colour Palette
$black-100: #3d343b;
$black-200: #000000;

$purple-100: #c5cae7;
$purple-200: #4d65af;
$purple-300: #2e439c;

$red-100: #ffbdad;
$red-200: #e92225;
$red-300: #ed1e24;
$red-400: #902026;
$red-500: #930f13;

$yellow-100: #fff9cb;
$yellow-200: #faeb1d;
$yellow-300: #9a842e;

$green-100: #d6e7d5;
$green-200: #199843;
$green-300: #306646;

$blue-100: #25acfa;
$blue-200: #0c4a83;

$grey-100: #e5e5e5;
$grey-200: #dcdcdc;
$grey-300: #e2e3e6;

// Type Colours
$bug: #A8B820;
$dark: #705848;
$dragon: #7038F8;
$electric: #F8D030;
$fairy: #EE99AC;
$fighting: #C03028;
$fire: #F08030;
$flying: #A890F0;
$ghost: #705898;
$grass: #5DBE62;
$ground: #E0C068;
$ice: #98D8D8;
$normal: #A8A878;
$poison: #B563CE;
$psychic: #F85888;
$rock: #B8A038;
$steel: #B8B8D0;
$water: #6890F0;



// Game Colours
$red-border: #ea1c24;
$red: rgba(234, 28, 36, 0.1);

$blue-border: #01598e;
$blue: rgba(1, 89, 142, 0.1);

$yellow-border:  #c88501;
$yellow: rgba(200, 133, 1, 0.1);

$gold-border: #9c8c58;
$gold: rgba(156, 140, 88, 0.1);

$silver-border: #afb6c0;
$silver: rgba(175, 182, 192, 0.1);

$crystal-border: #8091C7;
$crystal: rgba(128, 145, 199, 0.1);

$ruby-border: #982C1F;
$ruby:  rgba(152, 44, 31, 0.1);

$sapphire-border: #0871B9;
$sapphire: rgba(8, 113, 185, 0.09);

$emerald-border: #2C9938;
$emerald: rgba(44, 153, 56, 0.1);

$firered-border: #F57544;
$firered: rgba(245, 117, 68, 0.1);

$leafgreen-border: #9CC45A;
$leafgreen: rgba(156, 196, 90, 0.1);

$diamond-border: #03466B;
$diamond:  rgba(3, 70, 107, 0.1);

$platinum-border: #BFBEBC;
$platinum: rgba(191, 190, 188, 0.1);

$heartgold-border: #E3BC3A;
$heartgold: rgba(227, 188, 58, 0.1);

$pearl-border: #5C6769;
$pearl: rgba(92, 103, 105, 0.1);

$soulsilver-border: #DAE3E8;
$soulsilver: rgba(218, 227, 232, 0.1);

$white-border: #ffffff;
$white: rgba(255, 255, 255, 0.1);

$black-border: #000000;
$black: rgba(0, 0, 0, 0.1);

$black-2-border: #024C63;
$black-2: rgba(2, 76, 99, 0.1);

$white-2-border: #ffffff;
$white-2: rgba(255, 255, 255, 0.1);

$omegaruby-border: #861114;
$omegaruby: rgba(134, 17, 20, 0.1);

$x-border: #9BE8CC;
$x: rgba(155, 232, 204, 0.1);

$y-border: #1F2F4D;
$y: rgba(31, 47, 77, 0.1);

$alphasapphire-border: #253368;
$alphasapphire: rgba(37, 51, 104, 0.1);

$ultrasun-border: #EE1F0B;
$ultrasun: rgba(238, 31, 11, 0.1);

$ultramoon-border: #864EFB;
$ultramoon: rgba(134, 78, 251, 0.1);

$letsgopikachu-border: #FBC749;
$letsgopikachu: rgba(251, 199, 73, 0.1);

$letsgoeevee-border: #D29B5A;
$letsgoeevee: rgba(210, 155, 90, 0.1);

$sword-border: #00ADEE;
$sword: rgba(0, 173, 238, 0.1);

$shield-border: #E5015A;
$shield: rgba(229, 1, 90, 0.1);